*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --bg-header-mobile: url(../imagens/bg-header-mobile-light.png);
    --bg-header-dektop: url(../imagens/bg-header-desktop-light.png);
    --input-box-shadow: rgba(194, 195, 214, 0.50);
    --input-color:#494c6b;
    --placeholder-color:#9495a5;
    --button-color:#393a4b;
    --button-color-hover: #494c6b;
    --bg-body:#fafafa;
    --bg-tarefas: #fff;
    --box-shadow:0px 35px 50px -15px #C2C3D680;
    --border-color:#e3e4f1;
    --text-color:#494c6b;
    --info-text-color: #9495a5;
    --info-button-hover:#494c6b;
    --info-button-active: #3a7cfd;
}

body{
    background: var(--bg-body);
}

header{
    background-image: var(--bg-header-mobile);
    background-size: cover;
    height: 12.5rem;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem 1.75rem 0;
}

header > div{
    max-width: 33.75rem;
    margin-inline: auto;
}

header div div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

header div h1{
    color: #fff;
    text-transform: uppercase;
}


header form{
    display: flex;
    gap: .5rem;
}


header form input{
    padding: 1.12rem;
    border-radius: 0.3125rem;
    border: none;
    box-shadow: 0px 35px 50px -15px var(--input-box-shadow);
    width: 100%;
    outline: none;
    font-size: .75rem;
    color: var(--input-color);
}


header form input::placeholder{
    color: var(--placeholder-color);
}

header form button{
    padding: .75rem;
    border-radius: 0.3125rem;
    background: var(--button-color);
    color: #fff;
    border: none;
}

main{
    min-height: calc(100vh -12.5rem);
    padding-inline: 1.75rem;

}

.tarefas{
    background: var(--bg-tarefas);
    box-shadow: var(--box-shadow);
    border-radius: 0.3125rem;
    margin-top: -1rem;
    max-width: 33.75rem;
    margin-inline: auto;
}

.tarefas .tarefa form{
    padding: 1rem 1.25rem;
}

.tarefas .tarefa + .tarefa{
    border-top: 1px solid var(--border-color);
}

.tarefa form{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.tarefa div{
    display: flex;
    align-items: center;
    gap: .75rem;
    color: var(--text-color);
    font-size: .75rem;
}

.tarefa button{
    border: none;
    background: none;
}

.informacoes{
    border-top: 1px solid var(--border-color);
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    font-size: .75rem;
    color: var(--text-color);
}

.informacoes a, .botoes a{
    text-decoration: none;
    color: var(--info-text-color);
}

.informacoes .botoes{
    display: none;
}

.botoes{
    padding-block: 1rem;
    background: var(--bg-tarefas);
    border-radius: 0.3125rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    font-size: .875rem;
    max-width: 33.75rem;
    margin-inline: auto;
}

.botoes .active{
    color: var(--info-button-active);
}

@media(min-width:1000px){
    header{
        background-image: var(--bg-header-dektop);
        height: 18.75rem;
        padding-top: 4.37rem;
    }

    header div div{
        margin-bottom: 3rem;
    }

    header form input{
        padding: 1.25rem 1.5rem;
        font-size: 1.125rem;
    }

    header form button{
        font-size: 1.125rem;
    }
    
    header form button:hover{
        cursor: pointer;
        background: var(--button-color-hover);
    }

    .tarefa div{
        font-size: 1.125rem;
    }

    .tarefas{
        margin-top: -3rem;
    }

    .tarefas .tarefa{
        padding: 1.25rem 1.5rem;
    }

    section.botoes{
        display: none;
    }

    .informacoes .botoes{
        display: flex;
        padding: 0;
        margin: 0;
        gap: 2rem;
    }

    .informacoes{
        font-size: .875rem;
    }

    .informacoes a:hover{
        color: var(--info-button-hover);
    }

    .tarefa button{
        visibility: hidden;
    }

    .tarefa button:hover, 
    .tarefa input:hover,
    .tarefa label:hover{
        cursor: pointer;
    }

    .tarefa:hover button{
        visibility: initial;
    }


}
